# Turn on the rewrite engine
Options +FollowSymlinks
RewriteEngine on

# Request routing

# GET ../name/{search}
RewriteRule ^name/([0-9A-Za-z_\.-\@]+)$    index.php?method=name&search=$1 [QSA]

# GET ../cna/{search}
RewriteRule ^cna/([0-9A-Za-z_\.-\@]+)$    index.php?method=cna&search=$1 [QSA]

# GET ../all/{search}
RewriteRule ^all/([0-9A-Za-z_\.-\@]+)$    index.php?method=all&search=$1 [QSA]

# GET ../dukcapil/{search}
RewriteRule ^dukcapil/([0-9A-Za-z_\.-\@]+)$    index.php?method=dukcapil&search=$1 [QSA]

# POST ../insert
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^insert  index.php?method=insert [QSA]

# POST ../edit
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^edit  index.php?method=edit [QSA]